{% extends 'guest_layout.html' %}

{% block content %}


<div class="bs-example" data-example-id="hoverable-table">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>发件人</th>
                <th>收件人</th>
                <th>发送时间</th>
                <th>主题</th>
                <th>确认</th>

            </tr>
        </thead>
        <tbody id="emailTable">
            {% for i in info %}
                <tr>
                    <th scope="row"></th>
                    <td>{{i.sender}}</td>
                    <td>{{i.recipient}}</td>
                    <td>{{i.sent_time}}</td>
                    <td>{{i.subject}}</td>

                    <td><a href="/myapp/watch/{{i.id}}">详情</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
function filterSubject() {
    const subjectFilter = document.getElementById('subjectFilter').value;
    const emailTable = document.getElementById('emailTable');
    const rows = emailTable.getElementsByTagName('tr');

    for (let i = 0; i < rows.length; i++) {
        const subjectCell = rows[i].getElementsByTagName('td')[4];
        if (subjectCell) {
            if (subjectFilter === '' || subjectCell.textContent === subjectFilter) {
                rows[i].style.display = '';
            } else {
                rows[i].style.display = 'none';
            }
        }
    }
}
</script>

{% endblock %}
